.hero_section{
    background: url('../assets/hero/hero-1.jpg') no-repeat center center;
    position: relative;
    background-attachment:fixed;
    background-size: cover;
    padding-top: 170px;
    padding-bottom:200px;
}
.hero_section .price_badge{
    background: url('../assets/hero/price-badge-yellow.png') no-repeat center center;
    position: absolute;
    top: -20px;
    right: 8px;
    width: 180px;
    height: 170px;
    text-align: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

}
.hero_section .bade_content .h4_xs{
    font-size: 1.875rem;
    font-weight: 700;
    line-height: 1;
}
.hero_section .bade_content .h4_cost{
    font-size: 2.875rem;
    font-weight: 700;
    line-height: 1;
}
.hero_section .hero_heading h1{
   font-family: var(--lilita-font);
   font-size: 7rem;
   line-height: 1;
   letter-spacing:3px;
}
.hero_section .hero_heading h3{
    font-family: var(--lilita-font);
    font-size: 2rem;
    line-height: 1;
    letter-spacing:3px;
 }
 @media (max-width:767px) {
    .hero_section .hero_heading h1{
        font-family: var(--lilita-font);
        font-size: 5rem;
        line-height: 1;
        letter-spacing:3px;
     }
    
     
 }
 /* about section */
 .about_section{
    background: url('../assets/about/about-1.jpg') no-repeat center center;
    background-size: cover;
    padding-top: 80px !important;
    padding-bottom: 300px !important;
    width: 100%;
   
    
 }
 .about_section h2{
    font-size: 3rem;
 }
 .about_section p{
    font-size: 1.3rem;
    color: var(--gray);
    padding: 20px 30px;
 }
 .about_wrapper{
    background-color: var(--yellow);
    padding-top: 70px;
    padding-bottom: 30px;
 }
 .about_box .about_icon img{
    max-width: 25%;
 }
 .about_box h4{
    font-size: 20px;
    line-height: 1;
    letter-spacing: 0.5008;
    margin-top: 30px;
    margin-bottom: 20px;
 }
 @media (max-width:992px) {
    .about_section h2{
       font-size: 1.9rem;
    }
    .about_section p{
        padding: 20px 0px;
    }
 }
 .menu_section{
   padding-top: 100px;
   padding-bottom: 200px;
 }
 .menu_section .card_img{
   transition: all 500ms ease-in-out;
 }
 .menu_section h2{
   color: var(--light-red);
   font-family: var(--oswald-font);
   font-size: 3rem;
   font-weight: 800;
 }
 .menu_section .para{
   color: var(--gray);
 }
 .menu_section .item_rating{
     color: var(--yellow);
 }
 .menu_section .wishlist{
   color: var(--gray);
   font-size: 20px;
   cursor: pointer;
 }
 .menu_section .card_title{
   font-family: var(--oswald-font);
   font-weight: 700;
 }
 .menu_section .card_text{
   color: var(--gray);
 }
 .menu_section .card_price{
   color: var(--yellow);
   font-family: var(--oswald-font);
   font-weight: 700;
   background-color: var(--bg-coffee);
   padding: 8px;
   
 }
 .menu_section .add_to_cart{
   background: var(--yellow);
   padding: 8px 14px;
   font-size: 1rem;
   display: inline-block;
   opacity: 1;
   transform: translateY(100px);
   font-weight: 700;
   line-height: 1;
   transition: all 500ms ease-in-out;

 }
 .menu_section .card:hover .card_img{
   transform: scale(1.1)
 }
 .menu_section .card:hover .add_to_cart{
   transform: translateY(0);
   opacity: 1;
 }
 .menu_section .advertise_left{
   text-align: right;
   padding: 80px 30px 60px;
 }
 .menu_section .advertise_right{
   text-align: right;
   padding: 80px 30px 60px;
 }
 .menu_section .advertise_right_img{
   background: url('../assets/menu/ads-2.jpg') no-repeat center center;
   background-size: cover;
}
.menu_section .advertise_left_img{
   background: url('../assets/menu/ads-1.jpg') no-repeat center center;
   background-size: cover;

 }
 .menu_section .advertise_left h4{
   color: var( --brown);
   font-family: var(--oswald-font);
   font-size: 2.1rem;
 }
 .menu_section .advertise_right h4{
   color: var( --brown);
   font-family: var(--oswald-font);
   font-size: 2.1rem;
 }
 @media (max-width:767px) {
   .menu_section h2{
      font-size: 2rem;
     }
 }