.hero_section{
    background: url('../assets/hero/hero-1.jpg') no-repeat center center;
    position: relative;
    background-attachment:fixed;
    background-size: cover;
    padding-top: 170px;
    padding-bottom:200px;
}
.hero_section .price_badge{
    background: url('../assets/hero/price-badge-yellow.png') no-repeat center center;
    position: absolute;
    top: -20px;
    right: 8px;
    width: 180px;
    height: 170px;
    text-align: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

}
.hero_section .bade_content .h4_xs{
    font-size: 1.875rem;
    font-weight: 700;
    line-height: 1;
}
.hero_section .bade_content .h4_cost{
    font-size: 2.875rem;
    font-weight: 700;
    line-height: 1;
}
.hero_section .hero_heading h1{
   font-family: var(--lilita-font);
   font-size: 7rem;
   line-height: 1;
   letter-spacing:3px;
}
.hero_section .hero_heading h3{
    font-family: var(--lilita-font);
    font-size: 2rem;
    line-height: 1;
    letter-spacing:3px;
 }
 @media (max-width:767px) {
    .hero_section .hero_heading h1{
        font-family: var(--lilita-font);
        font-size: 5rem;
        line-height: 1;
        letter-spacing:3px;
     }
     
 }
 /* about section */
 .about_section{
    background: url('../assets/about/about-1.jpg') no-repeat center center;
    background-size: cover;
    padding-top: 80px !important;
    padding-bottom: 300px !important;
    width: 100%;
   
    
 }
 .about_section h2{
    font-size: 3rem;
 }
 .about_section p{
    font-size: 1.3rem;
    color: var(--gray);
    padding: 20px 30px;
 }
 .about_wrapper{
    background-color: var(--yellow);
    padding-top: 70px;
    padding-bottom: 30px;
 }
 .about_box .about_icon img{
    max-width: 25%;
 }
 .about_box h4{
    font-size: 20px;
    line-height: 1;
    letter-spacing: 0.5008;
    margin-top: 30px;
    margin-bottom: 20px;
 }
 @media (max-width:992px) {
    .about_section h2{
       font-size: 1.9rem;
    }
    .about_section p{
        padding: 20px 0px;
    }
 }