/* Import Google Fonts (Lilita One, Oswald, Roboto) */
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&family=Oswald:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&family=Oswald:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* Fonts Family */
  --roboto-font: "Roboto", sans-serif;
  --lilita-font: "Lilita One", cursive;
  --oswald-font: "Oswald", sans-serif;

  /* Colors */
  --light-black: #333;
  --light-white: #f7f7f7;
  --light-red: #e3000e;
  --light-grey: #f6f9fa;
  --light-grey-2: #dddddd;
  --white: #fff;
  --yellow: #f7be27;
  --grey: #757575;
  --brown: #6f5e4d;
  --bg-coffee: #642f21;
}
body,html{
  font-family: var(--roboto-font);
  font-size: 1rem;
  font-weight: 300;
}
h1,h2,h3,h4,h5,h6{
  font-family: var(--oswald-font);
  line-height: 1.3;
  font-weight: 500;
  text-transform: uppercase;
}
p{
  font-size: 16px;
}
a{
  color: var(--light-black);
  text-decoration: none;
  transition: all 400ms ease-in-out;
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
}
/* scrollbar */
::-webkit-scrollbar{
  width: 5px;
}
::-webkit-scrollbar-thumb{
  background-color: var(--yellow);
}
/* button */
.order_now{
  color: var(--light-black);
  background-color: var(--yellow) !important;
  border-color: var(--yellow) !important;
  padding: 15px 40px  !important;
  font-size: 18px  !important;
  font-weight: 700  !important;
  letter-spacing: 0.5px  !important;
  font-family: var(--oswald-font) !important;
  vertical-align: middle  !important;
  text-transform: uppercase  !important;
  transition: all 0.3s ease-in-out  !important;
}
.order_now:hover,.order_now:focus{
  color: var(--white)  !important;
  background: transparent  !important;
  border-color: var(--white)  !important;
}
.btn_red{
  color: var(--white);
  background: var(--light-red);
  border-color: var(--light-red);
}
.btn_red:hover, .btn_red:focus{
  color: var(--light-red);
  background: transparent;
  border-color: var(--light-red);
}
@media (max-width:992px) {
  body,html{
    font-size: 0.875rem;
  }
}